* {
    font-family: 'Poppins';
}

.font-Raleway {
    font-family: 'Raleway' !important;
}

.company-text {
    font: normal bold 22px 'Raleway', sans-serif;
    text-align: left;
    line-height: 31px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-transform: none;
}

.text-theme {
    color: #f17430 !important;
}

.bg-theme {
    background-color: #f17430 !important;
}

.border-theme {
    border-color: #f17430 !important;
}

.text-hover-theme:hover {
    color: #f17430 !important;
}

.btn-outline-theme {
    color:#f17430;
    background-color:white;
    border-color: #f17430 !important;
    cursor: pointer;
} .btn-outline-theme:hover {
    background-color:#f17430;
    color:white;
}

.switch {
  display: flex;
  justify-content: center;
}
.switch__wrapper {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 56px;
  background: #f9f9f9;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 28px;
  margin: 0px 1em 0px 0px;
}
.switch__wrapper input {
  display: none;
}
.switch__wrapper input:checked + .switch__slider:before {
  transform: translateX(60px);
}
.switch__wrapper input:checked ~ div:after {
  color: #ffffff;
  transition: color 0.3s ease 0s;
}
.switch__wrapper input:checked ~ div:before {
  color: #919191;
  transition: color 0.3s ease 0s;
}
.switch div::before {
  content: "عربي";
  position: relative;
  z-index: 5;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  bottom: -14px;
  left: 17px;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}
.switch div::after {
  content: "EN";
  position: relative;
  z-index: 5;
  font-weight: 700;
  font-size: 22px;
  color: #919191;
  bottom: -14px;
  left: 48px;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
}
.switch__slider::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 56px;
  left: -1px;
  bottom: -1px;
  background-color: #f17430;
  transition: all 0.4s ease 0s;
  border-radius: 28px;
}
